@use "../abstract/mixins" as mixin;
@use "../abstract/variables" as var;

.carusel {
  $header-carusel-height: calc(100vh - 1px);
  height: $header-carusel-height;
  // overflow: scroll;
  // display: grid;
  // grid-template-columns: 100% 100% 100%;
  // grid-template-rows: 100%;
  background: {
    color: rgba(0, 0, 0, 0.733);
    image: url("./images/header-bg.jpg");
    size: cover;
  }
  // backdrop-filter: contrast(80);

  .carusel-item {
    width: 100%;
    height: $header-carusel-height;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    h1 {
      width: 600px;
      color: var.$white;
      font: {
        size: 3rem;
        weight: 700;
      }
      margin-bottom: 20px;
    }
    a {
      padding: 15px 20px;
      background-color: var.$primary;
      color: var.$secondary;
      font: {
        size: 1.1rem;
        weight: 500;
      }
    }
  }
}

@media (max-width: 800px) {  
  .carusel {  
    height: calc(550px - 115px);
    .carusel-item {
      align-items: center;
      justify-content: center;
      h1 {
        width: 70%;
        text-align: center;
        font: {
          size: 2.5rem;
          weight: 700;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .carusel {  
    height: calc(550px - 115px);
    .carusel-item {
      align-items: center;
      justify-content: center;
      h1 {
        width: 80%;
        text-align: center;
        font: {
          size: 2.2rem;
          weight: 700;
        }
      }
    }
  }
}